<!-- HTML  forms are required when you want to collect some data form the site visitor-->

<!-- form create by useing <form> and close it </form>

<!-- action attribute uses Backend script ready to process your passed data -->
<!-- method attribute used for upload data,mostly used [GET,POST] -->
<!-- target attribute used for display information within same page or new page( _back=use for new page)(_self =use for same page) -->
<html>
<head>
<title>
nari forms</title>
</head>
<body>
<form  method="get" target="_self">
<input type="text" size="70" name="name" autofocus placeholder="enter your name">
<input type="password">
</form>
</body>
</html>
